.product{
	border: 1px solid black;
	width:400px;
	float:left;
	margin:0 24px;
}
.product-info p{
	color:black;
	text-align:center;
}
.product-image{
	height:150px;
	text-align:center;
}
.img{
	max-width:100%;
	max-height:100%;
}
.basket{
	text-align:center;
	margin:0 2%;
}
.right{
	float:right;
}
.individual-product{
	width:50%;
	float:left;
}
.individual-product-info{
	padding-top:5%;
	width:50%;
	float:left;
}
.individual-product-image{
text-align:center;
}
.individual-product-info p{
	text-align:left;
}
.manager{
	display: block;
	width:650px;
	margin:auto;
}
.manager-left,.manager-right{
	width:40%;
	float:left;
	margin-right:10%;
}


